<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<link rel="stylesheet" href="/static/css/index_style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<h1>World Soccer Players Information</h1>
	<div class="index-container">
		<div class="btnlist">
			<div class="btnbox"><a href="/player_information_id">Player data sheet</a></div>
			<div class="btnbox"><a href="/central_tendency_variables">Central tendency variables</a></div>
			<div class="btnbox"><a href="/players_compare_id">Compare players</a></div>
			<div class="btnbox"><a href="/plots">Display plots</a></div>
		</div>
	</div>
</body>
</html>