<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Plots</title>
	<link rel="stylesheet" href="/static/css/plots_style.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<h1>Plots</h1>
	<div class="histogram">
		<h4>Histogram Overall-Ages</h4>
		<img src="/static/plots/histogram_overall_ages.png">
	</div>
	<div class="images">
		<div class="plot-nationality"><img src="/static/plots/pie_nationality.png"></div>
		<div class="plot-club"><img src="/static/plots/pie_club.png"></div>	
	</div>
</body>
</html>