body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

.table {
	margin: auto;
	width: 60%;
}

.variables-table {
	border-collapse: collapse;
	width: 100%;
}

.variables-table td, .variables-table th {
	border: 1px solid #ddd;
	padding: 8px;
}

.variables-table tr:nth-child(even){
	background-color: #f2f2f2;
}

.variables-table tr:hover {
	background-color: #ddd;
}

.variables-table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #43a047;
	color: white;
}